{% extends 'header.html' %}

{% load static %}

{% block content %}

      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital">Login</h1>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     {% if msg %}
                        <p style="color: green;">{{msg}}</p>
                     {% elif msg1 %}
                        <p style="color: red;">{{msg1}}</p>
                     {% else %}
                        <p style="color:green;"></p>
                     {% endif %}
                     <div class="mail_section_1">
                        <form action="{% url 'login' %}" method="post">
                           {% csrf_token %}
                        <input type="email" class="mail_text" placeholder="Email" name="email">
                        <input type="password" class="mail_text" placeholder="password" name="pswd">
                           <input type="submit" value="login" class="btn btn-primary"/> 
                           <div><a href="{% url 'fpswd' %}">Forgot Password ?</a></div>

                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
    
{% endblock %}